.App {
  text-align: center;
  background-color: #faf9f6; /* Light blue background */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #faf9f6; /* Light blue background */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-box {
  background: #ffffff; /* White background for the box */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  color: #007bb5; /* Medium blue color for the header */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #007bb5; /* Medium blue color for labels */
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #007bb5; /* Medium blue border */
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bb5; /* Medium blue background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005f8c; /* Darker blue on hover */
}
